	<footer class="footer-distributed">

			<div class="footer-left">
				<h3>Few words about <span id="logotext1">Go</span><span id="logotext2">ToLaw</span></h3>
				
                <p id="info">
	              We're passionate about delivering the best lawyers to the common man in a manner where there lies power in both the lawyer and client about what injustice they are ready to fight together without the hassle of hte physical world. 
				</p>

				<!-- <p class="footer-company-name">© 2030 GoToLaw Pvt. Ltd.</p> -->
			</div>

			<div class="footer-center">
				<h3>
					 Contact Us!
				</h3>
					<div class="centericon">
					
						 <div>
					<i class="fas fa-map-marker-alt"></i>
					  <p>Plot Number-216,Seawoods Estate, Sector-56, Nerul west, Navi Mumbai</p>
				</div>

				<div>
					<i class="fas fa-phone"></i>
					<p>+91 12849305827</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@eduonix.com">support@gotolaw.com</a></p>
				</div>
							</div>
			</div>
			<div class="footer-right">
				
				<h3>
					Follow us on Social Media!
				</h3>
				<hr>
				<div class="footer-icons">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
				</div>
				<hr>
			</div>
		<div class="tm-footer text-center">
			<p>Copyright &copy; 2020 GoToLaw 
            
            | WebDevProject </p>
		</div>
		</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script >
  $(function(){

    $(document).scroll(function(){
      var $nav=$("#n");
      $nav.toggleClass("scrolled",$(this).scrollTop() > $nav.height());
    });
  });
		</script>


</body>
</html>