<!DOCTYPE html>
<html lang="en"><head>
<title>Card Payment Forms </title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Card Payment Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="/stylesheets/creditly.css" type="text/css" media="all">
	
<!-- <link rel="stylesheet" href="css/font-awesome.css"> -->
	
	
<!-- 	stylesheets -->
	<!-- <link rel="stylesheet" href="/stylesheets/login.css"> -->
	<link rel="stylesheet" href="/stylesheets/footer.css">
	<!-- <link href="/stylesheets/trialgrid.css" rel="stylesheet" /> -->
<!-- fonts	 -->
		<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	
	
	<!-- Font-Awesome-Icons-CSS -->
	
<!-- //css files -->
<!-- Web Fonts -->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
<!-- //Web Fonts -->
<div id="_bsa_srv-CKYI627U_0"></div><div id="_bsa_srv-CKYI653J_1"></div></head>
<body style="">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
<div id="codefund"><!-- fallback content --></div>
<script src="https://codefund.io/properties/441/funder.js" async="async"></script>
	

<nav id="n" class="nav navbar-inverse">
  <div class="container-fluid">
	 <div class="navbar-header">
		 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<a  class="navbar-brand" href="/"><span id="logotext1">Go</span><span id="logotext2">ToLaw</span></a>
	 </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class=" nav navbar-nav navbar-right">
			  
			  <li><a href="/logout">Logout</a></li>
			   <li><a href="/myaccount"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a></li>
		  </ul>
	  </div>
  </div>
</nav>
	
<div class="main1">	
	<!-- <h1>Card Payment Forms</h1> -->
	<!---728x90--->

	<div id="myAccordion" class="nl-accordion">
		<ul>
			<li>
				<input type="radio" id="nl-radio-1" name="nl-radio" class="nl-radio" checked="checked">
				<label class="nl-label" for="nl-radio-1">Payment Card</label>
				<div class="nl-content">
					<div class="agileits_w3layouts_tab1 agileits_w3layouts_tab">
					<form action="#" method="post" class="creditly-card-form agileinfo_form">
						<section class="creditly-wrapper wthree w3_agileits_wrapper">
								<div class="first-row form-group">
									<div class="controls">
										<label class="control-label">Name on Card</label>
										<input class="billing-address-name form-control" type="text" name="name" placeholder="John Smith" required="">
									</div>
									<div class="controls">
										<label class="control-label">Card Number</label>
										<input class="number credit-card-number form-control" type="text" name="number" inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number" placeholder="•••• •••• •••• ••••" required="">
									</div>
									<div class="w3_agileits_card_number_grids">
										<div class="w3_agileits_card_number_grid_left">
											<div class="controls">
												<label class="control-label">Expiration Date</label>
												<input class="expiration-month-and-year form-control date" type="text" name="expiration-month-and-year" placeholder="MM / YY" required="">
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_right">
											<div class="controls">
												<label class="control-label">CVV</label>
												<input class="security-code form-control" Â·inputmode="numeric" type="text" name="security-code" placeholder="•••" required="">
											</div>
										</div>
										<div class="clear"> </div>
									</div>
								</div>
								<button class="submit"><span>Make a payment <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button>
						</section>
					</form>
					</div>	
				</div>
			</li>
			<li>
				<input type="radio" id="nl-radio-2" name="nl-radio" class="nl-radio">
				<label class="nl-label" for="nl-radio-2">Paytm</label>
				<div class="check w3ls"></div>
				<div class="nl-content">
					<div class="agileits_w3layouts_tab2 agileits_w3layouts_tab">
						<h3>Don't Have an Account <a href="#">Register here</a></h3>
						<form action="#" method="post">
							<div class="creditly-wrapper wthree">
								<input type="email" name="Email" placeholder="Email" required="">
								<input type="password" name="Password" placeholder="Password" required="">
								<input type="submit" value="Login">
							</div>	
						</form>
					</div>				
				</div>
			</li>
		</ul>
	</div>
	<!---728x90--->
	
		
	<!---728x90--->
</div>

		<%- include("partials/footer") %>
	<script type="text/javascript" src="stylesheets/jquery.min.js"></script>


